# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [3]:
my_int = 23
print (my_int)


print(type(my_int))

23
<class 'int'>

##### Assinging float

In [4]:
my_float = 3.14

print(my_float)

3.14

#### Performing Calculations on ints and floats

##### Addition

In [16]:
10 + 10

my_int= my_int + my_float

print (my_int)

26.14

In [18]:
my_int + my_int + 5

print(my_int)

my_int += 2

28.14

##### Subtraction

In [6]:
my_int - 3

20

In [21]:
my_int = my_int -5

my_int = 8;

print (my_int)

8

##### Multiplication

In [7]:
my_float * 2

6.28

##### Division

In [9]:
type(10 / 2)

int(10/2)

5

Floor Division

In [10]:
10 // 2

11//2

5

##### Modulo

In [13]:
11 % 2


10 % 2

19 % 5

4

##### Exponential

In [15]:
10 ** 2

10 ** 3

1000

String Input-Output

##### String Assignment

In [24]:
a_string = "hello world"

print(a_string)

print(type(a_string))

hello world
<class 'str'>

##### print() <br>
<p>Don't forget about end=' '</p>

In [26]:
print(a_string, end= "at end of string\n")
print("typically on a new line")
print("new line")

hello worldat end of string
typically on a new line
new line

##### String Concatenation

In [28]:
a_string + " padawans"

'hello world padawans'

In [31]:
new_string = " padawans"

##### Type Conversion

In [33]:
type(str(my_int))

type (my_int)

my_int = str(my_int)

my_int

'8'

##### input()

In [34]:
user_name = input("what is your name?: ")

print (user_name)

what is your name?: Rhett
Rhett

##### format()

In [ ]:
"user name is {} and age is {}".format(user_name, 39)

age = 39

f'user name is {user_name} and age is {age}'

print(f'user name is {user_name} and age is {age}')

##### Old Way (python 2)

In [ ]:
"Foo %s %d" % (user_name 39)

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [44]:
car_color = input("Enter color: ")
car_year = input("Enter year: ")
car_make = input("Enter make: ")
car_model = input("Enter model: ")

results = f"Your car is a {car_color} {car_year} {car_make} {car_model}."
print(results)

Enter color: Red
Enter year: 2024
Enter make: 2222
Enter model: ford
Your car is a Red 2024 2222 ford.

If Statements

In [46]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)


if true:
    print('true')
    
if false:
    print('false')

    
if 10, 11:
    print("10<11")
    
    
# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

if true and false:
    print('t and f')
    
if true and 10 == 10:
    print("t and 10 == 10")

SyntaxError: invalid syntax (2122504110.py, line 12)

##### 'is' keyword

In [53]:
if 10 == 10:
    print('10 is 10')

my_dict = {"foo": 'bar'}

my_dict_copy = my_dict

print(my_dict_copy)

my_dict is my_dict_copy

my_dict == shallow_copy

10 is 10
{'foo': 'bar'}

NameError: name 'shallow_copy' is not defined

##### 'in' keyword

In [54]:
"b" in "brandy"

True

##### 'not in' keyword'

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [58]:
user_input = input("What is your name: ")

if 'p' in user_input:
    print("True")
else:
    print("False")

What is your name: paul
True

## Using 'and'/'or' with If Statements

### Elif Statements

In [59]:
if False:
    print('false')
elif True:
    print("true")
    
if 10 == 10:
    print('10 == 10')
elif 10 > 8:
    print('10>8')

true
10 == 10

### Else Statements

In [ ]:
# see above

### For Loops

In [65]:
school = 'coding temple'

# for <loop variable> in <iterable>:
#    <code block>

for letter in school:
    print(letter)
    print("2nd action")
    
print ('exit loop')

c
2nd action
o
2nd action
d
2nd action
i
2nd action
n
2nd action
g
2nd action

2nd action
t
2nd action
e
2nd action
m
2nd action
p
2nd action
l
2nd action
e
2nd action
exit loop

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [71]:
for num in range(10):
    if num == 4:
        continue
    print(num)

0
1
2
3
5
6
7
8
9

Break Statement

In [ ]:
# will break out of current loop

In [72]:
for num in range (10):
    if num == 5:
        break
        print(num)

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

##### Double For Loops

In [75]:
# loop insdie of loop

for num in range(5):
    print('entering outer loop')
    for letter in 'dylan':
        print(f'{num =} {letter =}')
    print("completed inter loop")

entering outer loop
num =0 letter ='d'
num =0 letter ='y'
num =0 letter ='l'
num =0 letter ='a'
num =0 letter ='n'
completed inter loop
entering outer loop
num =1 letter ='d'
num =1 letter ='y'
num =1 letter ='l'
num =1 letter ='a'
num =1 letter ='n'
completed inter loop
entering outer loop
num =2 letter ='d'
num =2 letter ='y'
num =2 letter ='l'
num =2 letter ='a'
num =2 letter ='n'
completed inter loop
entering outer loop
num =3 letter ='d'
num =3 letter ='y'
num =3 letter ='l'
num =3 letter ='a'
num =3 letter ='n'
completed inter loop
entering outer loop
num =4 letter ='d'
num =4 letter ='y'
num =4 letter ='l'
num =4 letter ='a'
num =4 letter ='n'
completed inter loop

### While Loops

In [76]:
num = 0

while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [77]:
while True:
    print('playing game')
    playing = input ('are you still playing?:')
    if playing == 'no':
        break

playing game
are you still playing?:yes
playing game
are you still playing?:no

##### While & For Loops Used Together

In [78]:
num = 0

while num < 5:
    for num2 in range(5):
        print(f'{num =} {num2 =}')
    num += 1

num =0 num2 =0
num =0 num2 =1
num =0 num2 =2
num =0 num2 =3
num =0 num2 =4
num =1 num2 =0
num =1 num2 =1
num =1 num2 =2
num =1 num2 =3
num =1 num2 =4
num =2 num2 =0
num =2 num2 =1
num =2 num2 =2
num =2 num2 =3
num =2 num2 =4
num =3 num2 =0
num =3 num2 =1
num =3 num2 =2
num =3 num2 =3
num =3 num2 =4
num =4 num2 =0
num =4 num2 =1
num =4 num2 =2
num =4 num2 =3
num =4 num2 =4

### Built-In Functions

##### range()

In [79]:
# range(start, stop, step)
list(range(10))

list(range(2, 20, 2))

[2, 4, 6, 8, 10, 12, 14, 16, 18]

##### len()

In [85]:
len('Rhett')

list(range(len("Rhett")))

for i in range(len(instructor)):
    print(f'{i =} {instructor[i]}')

NameError: name 'instructor' is not defined

help()

In [87]:
help(len)

help(range)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

##### isinstance()

In [88]:
type('abc')

isinstance('abc', str)

True

##### abs()

In [7]:
big_ned = -60984375
lil_neg = -7
pos = 7
print(abs(big_neg), abs(lil_neg), abs(pos))

NameError: name 'big_neg' is not defined

### Try and Except

In [ ]:
try:
    num = int(input("guess a number between 1 and 10"))
    if num

### Lists

##### Declaring Lists

##### Indexing a List

##### .append()

##### .insert()

In [ ]:
l_1.insert

##### .pop()


##### .remove()

##### del()

##### Concatenating Two Lists

##### Lists Within Lists

##### Looping Through Lists

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [2]:
total_value = 1000
current_number = 1

while True:
    cube = current_number ** 3
    
    if cube > total_value:
        break
    
    print(cube)
    
    current_number += 1

1
8
27
64
125
216
343
512
729
1000

Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [6]:
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

prime_numbers_up_to_100 = [num for num in range(2, 101) if is_prime(num)]

print(prime_numbers_up_to_100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [ ]:
user_age = int(input("Enter your age: "))

if user_age < 18:
    print("Kids")
elif 18 <= user_age <= 65:
    print("Adults")
else:
    print("Seniors")